.App {
  text-align: center;
  
  background-color:#f8f9fb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#brandName
{
   margin-left: 500px;
   font-size: 35px;
   font-weight: bold;
   color: #dbdfe5;
  
}


.navbar
{
  background-color: #273d68;
}

.style
{
  background-color: #BDBDFA;
  height: 15px;
}

.search
{
  justify-content:center;
  margin-top: 100px;
  width: 150px;
  margin-left: 30px;
}

.newField
{
  justify-content: center;
  margin-top: 20px;
  background-color: blue;
  width: 200px;
  
}

.inputview
{
  margin-left: 500px;
  margin-top: 20px;
  width: 350px;
}

.fullView
{
  background-color:#f8f9fb;
  
}

.custTable
{
  margin-top: 20px;
  margin-left: 130px;
  margin-bottom: 20px;
}


#search
{

  margin-left: 350px;
  margin-bottom: 30px;
  height: 40px;
  border: 2px solid maroon;
  border-radius: 4px;
  
}

#addfield
{
  margin-left: 20px;
}
.editText
{
  width: 300px;
  margin: 5px 5px 5px 70px;
  border-radius: 5px;
  border: 2px solid rgb(156, 156, 240);
  
}

